@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
:root {
  --color-dark-primary: #2a254b;
  --color-primary: #4e4d93;
  --color-light-grey: #f9f9f9;
  --color-border-grey: #ebe8f4;
  --color-white: #ffffff;
  --color-border-dark: #2a254b;
}

[data-theme="dark"] {
  --color-dark-primary: #1e1b2d;
  --color-primary: #3b3a82;
  --color-light-grey: #1c1c1c;
  --color-border-grey: #2c2c3a;
  --color-white: #f1f1f1;
  --color-border-dark: #1e1b2d;
}
.email-background {
  background-image: url("/email-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
